<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <img style="vertical-align:middle; height:40px;" src="{{ site.baseurl }}/assets/p4-logo.png" alt="P4 Logo" /> 
      </div>
      <div class="col-sm-4">
        <p>&copy; 2018 {{ site.author }}</p>
        <ul class="list-inline">
            <li>
                <a href="{{ site.baseurl }}/legal">Legal</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/privacy">Privacy</a>
            </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-inline">
          <li><a href="https://github.com/p4lang/"><i class="fa fa-3x fa-github"></i></a></li>
          <li><a href="https://twitter.com/p4org/"><i class="fa fa-3x fa-twitter"></i></a></li>
          <li id="youtube"><a href="https://www.youtube.com/channel/UCOQAFkDKucJWr-KafdJsdIQ"><i class="fa fa-3x fa-youtube"></i></li>
          <li id="youku"><a href="http://i.youku.com/p4lang"><i class="fa fa-3x fa-video-camera"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
