<h2><i class="fa fa-newspaper-o"></i> News</h2>
<ul>
  <li>Blog <a href="{{ site.baseurl }}/p4/p4c-ubpf">post</a> on <tt>p4c-ubpf</tt> compiler</li>
  <li>Blog <a href="{{ site.baseurl }}/p4/p4-16-v1.2.0/">post</a> announcing     <a href="https://p4.org/p4-spec/docs/P4-16-v1.2.0.html">version 1.2.0</a> of the P4<sub>16</sub> language specification.</li>
  <li>Blog post on <a href="{{ site.baseurl}}/p4/getting-started-with-p4.html">getting started with P4</a>.</li>
  <li>P4.org <a href="{{ site.baseurl }}/p4/p4-member-letter.html">completes combination</a> with ONF.</li>
  <li>Blog post announcing the <a href="{{ site.baseurl }}/p4/p4runtime-v1-release">P4Runtime v1.0 release</a> published.
  <li>Blog post on <a href="{{ site.baseurl }}/members/netcope-member-spotlight">Netcope Member Spotlight</a> published.
  <li>Blog post on <a href="{{ site.baseurl }}/members/xilinx-member-spotlight">Xilinx Member Spotlight</a> published.
</ul>
