<h2><i class="fa fa-newspaper-o"></i> News</h2>
<ul>
  <li><a href="{{ site.baseurl }}/events/2018-03-09-p4-developer-day">Spring Developer Day</a> at Cornell Tech announced! (January 2018)</li>
  <li>New <a href="{{ site.baseurl }}">P4 Website</a> launched! (December 2017)</li>
  <li><a href="{{ site.baseurl }}/p4-spec/docs/PSA.html">PSA Draft Specification</a> Released (November 2017) </li>
  <li><a href="{{ site.baseurl }}/events/2017-10-16-p4-developer-day/">Fall Developer Day</a> held at Stanford (November 2017) </li>
  <li><a href="{{ site.baseurl }}/api/announcing-p4runtime-a-contribution-by-the-p4-api-working-group.html">P4 Runtime</a> Announced (October 2017) </li>
</ul>
