<!-- jQuery -->
<script src="{{ site.baseurl }}/js/jquery.js"></script>

<!-- Plugin JavaScript -->
<!-- <script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.fittext.js"></script>
<script src="{{ site.baseurl }}/js/wow.min.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> !-->

<!-- Theme JavaScript -->
<!-- <script src="{{ site.baseurl }}/js/new-age.min.js"></script> -->
