---
---

@charset "utf-8";

$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;

// variables.less link and gradient background
$head-primary: #8cc63f;
$head-secondary: #7256b9;
$theme-primary: #fdcc52;
$theme-secondary: #fdc539;
$theme-dark: #dddddd;

.code {
    # background-image: url('../img/code.jpg');
    background-color: #092071; // navy;
    color: #e0e0e0; // lighter gray;
    padding-top: 100px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

.members-pics li {
	background:none;
	padding-left:0px;
    margin-right: 30px;
	float: left;
	margin-bottom: 45px;
}
    